<%= form_for(@notebook) do |f| %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="form-group">
    <%= f.fields_for :notes do |note_builder| %>
      <%= note_builder.label :content %>
      <%= note_builder.text_field :content %>
    <% end %>
  </div>

  <%= f.submit %>
<% end %>
