<%= form_for(@notebook) do |f| %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title %>
    <% if @notebook.errors[:title].any?  %>
      <p class="has-error"> <%= @notebook.errors.full_messages_for(:name).to_sentence %> </p>
    <% end %>

  </div>

  <div class="form-group">
    <%= f.fields_for :notes do |note_builder| %>
      <%= note_builder.label :name %>
      <%= note_builder.text_field :name %>


      <%= note_builder.label :content %>
      <%= note_builder.text_field :content %>
    <% end %>
  </div>

  <%= f.submit %>
<% end %>
