
<div class="col-md-10 col-md-offset-1">

  <div class="row main-notebook">
    <h2 class="text-center page-header">Notebooks for <%= current_user.username %></h2>
    <% @notebooks.each do |book| %>
      <div class="col-md-4 padding-bottom">
        <div class="panel panel-default text-center">
          <h4 class="notebook"><%= link_to book.title, notebook_path(book) %></h4>
          <h6 class="show">Notebook Details</h6>
          <p class="notebook-details"><%= pluralize(book.note_count, 'note') %>   |  Last Update: <%= book.updated_at.strftime("%D") %></p>
        </div>

        </div>

    <% end %>
  </div>

<div class="row">
    <div class="all-references">
      <div class="all-references-top">
          <h2 class="text-center page-header" id="myRefSection">References for <%= current_user.username %> </h2>
        </div>
        <div class="all-references-bottom">
          <ul class="see">
            <% @my_refs.each do |ref| %>
              <li> <%= link_to ref.name, url_with_protocol(ref.reference_link), target: :blank %> </li>
            <% end %>
          </ul>
        </div>
      </div>


    <div class="my-references">
      <div class="my-references-top">
        <h2 class="text-center page-header">Looking for some Reading material? Try out some other references.</h2>
      </div>
      <div class="my-references-bottom">
        <ul>
          <% @references.each do |ref| %>
            <li> <%= link_to ref.name, url_with_protocol(ref.reference_link), target: :blank %> </li>
          <% end %>
        </ul>
      </div>
    </div>


</div>

    <div class="row">
      <div class="reports">
        You have <%= pluralize(current_user.notebook_count, 'notebook') %>
        You have <%= pluralize(current_user.note_count, 'note') %>

      </div>
    </div>


  </div>
