
<div class="col-md-10 col-md-offset-1">

  <div class="row main-notebook">
    <h2 class="text-center page-header">Notebooks for <%= current_user.username %></h2>
    <% @notebooks.each do |book| %>
      <div class="col-md-4 padding-bottom">
        <div class="panel panel-default text-center">
          <h4 class="notebook"><%= link_to book.title, notebook_path(book) %></h4>
          <h6 class="show">Notebook Details</h6>
          <p class="notebook-details"><%= pluralize(book.note_count, 'note') %>   |  Last Update: <%= book.updated_at.strftime("%D") %></p>
        </div>
      </div>
    <% end %>
  </div>

  <div class="container">
      <div class="row ">
        <h2 class="text-center page-header " Your Articles</h2>
        <ul>
          <% @my_refs.each do |ref| %>
            <li> <%= link_to ref.name, url_with_protocol(ref.reference_link), target: :blank %> </li>
          <% end %>
        </ul>
      </div>

      <div class="row">
          <h2 class="text-center page-header">Recently Added Articles</h2>
          <ul>
            <% @references.recently_added.each do |ref| %>
              <li> <%= link_to ref.name, url_with_protocol(ref.reference_link), target: :blank %> </li>
            <% end %>
          </ul>
      </div>
  </div>

    <div class="row">
      <div class="reports">
        You have <%= pluralize(current_user.notebook_count, 'notebook') %>
        You have <%= pluralize(current_user.note_count, 'note') %>
      </div>
    </div>


  </div>
