<div class="col-md-10 col-md-offset-1">
  <div class="row notebookSection">
    <h2 class="page-header text-center"><%= @notebook.title %></h2>
    <p class="text-center"><%= pluralize(@notebook.reference_count, 'reference') %>  in this notebook</p>
  </div>

  <div class="row notebookNoteSection">
    <% @notebook.notes.each do |note|  %>
    <div class="col-md-4 padding-bottom">
      <div class="panel panel-default text-center">
        <h4 class="noteName"> <%=link_to note.name, [@notebook, note]%></h4>
        <div id="content-<%= note.id %>" class="noteContent"> <%=truncate(note.content, length: 75) %></div>
      </div>
    </div>
    <% end %>

    <div class="col-md-4 padding-bottom ">
      <div class="panel panel-default text-center newPanel hidden ">
        <h4 class="newNoteName "></h4>
        <p class="newNoteContent ">
      </div>
    </div>
    </p>
  </div>

  <div class="form">
    <h2 class="page-header text-center">Add a Note to <%= @notebook.title %></h2>
      <%= form_for @notebook.notes.build do |f| %>
        <%= f.hidden_field(:notebook_id) %>
        <div class="form-group">
          <%= f.label :reference_link, :class => "control-label" %>
          <%= f.select :reference_id, Reference.all.collect { |r| [r.name, r.id]}, include_blank: :true, :class => "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :name, :class => "control-label" %>
          <%= f.text_field :name, :class => "form-control", :id => "name" %>
        </div>

        <div class="form-group">
          <%= f.label :content, :class => "control-label" %>
          <%= f.text_area :content, :class => "form-control", :id=> "content" %>
        </div>

        <%= f.submit "Submit", :class => "btn btn-default" %>
      <% end %>
  </div>


</div>
