

  <div class="col-md-10 col-md-offset-1">
    <div class="row notebookSection">
      <h1 class="page-header"><%= @notebook.title %></h1>
      <div class="inline">
        <%= link_to 'Back', notebook_path(@notebook), :class => "btn btn-xs btn-default" %>
      </div>
      <p><%= pluralize(@notebook.reference_count, 'reference') %>  in this notebook</p>

    </div>

    <div class="row notebookNoteSection">
      <% @notebook.notes.each do |note|  %>
          <h4 class="noteName"> <%= note.name%></h4>
          <div id="content-<%= note.id %>" class="noteContent"> <%=note.content %></div>
          <button class='js-more' data-id='<%= note.id %>'> More...</button>
          <button class='hidden js-less'> Less</button>

      <% end %>

    </div>
  </div>




<!--  NOTES FORM -->
  <%= form_for @notebook.notes.build do |f| %>
    <%= f.hidden_field(:notebook_id) %>
    <div class="form-group">
      <%= f.label :reference_link, :class => "control-label" %>
      <%= f.select :reference_id, Reference.all.collect { |r| [r.reference_link, r.id]}, include_blank: :true, :class => "form-control" %>
    </div>


    <div class="form-group">
        <%= f.label :name, :class => "control-label" %>
        <%= f.text_field :name, :class => "form-control", :id => "name" %>
    </div>

    <div class="form-group">
        <%= f.label :content, :class => "control-label" %>
        <%= f.text_area :content, :class => "form-control", :id=> "content" %>
    </div>

    <%= f.submit "Submit", :class => "btn btn-default" %>
  <% end %>


  <script type="text/javascript" charset="UTF-8">
 $(function(){


  });

</script>
