  <div class="col-md-10 col-md-offset-1">
    <div class="row">
      <h1 class="page-header"><%= @notebook.title %></h1>
      <p><%= @notebook.reference_count %> References in this notebook</p>
      <div class="inline">
        <%= link_to 'Back', notebook_path(@notebook), :class => "btn btn-small btn-default" %>
        <% if current_user.id == @notebook.user_id %>
          <%= link_to 'New Note', new_notebook_note_path(@notebook, @note), :class => "btn btn-small btn-default" %>
          <%= link_to "Delete", @notebook, method: :delete, data: {confirm: "Are you sure you want to delete this notebook?"}, :class => "btn btn-small btn-default" %>
        <% end %>
      </div>
    </div>

    <div class="row">
      <% @notebook.notes.each do |note|  %>
        <h4 class="noteName"><%= note.name%></h4>
        <p>Updated at: <%=note.updated_at.strftime("%D") %> </p>
        <p class="noteContent"><%=note.content %></p>
      <% end %>
    </div>
  </div>
