<%= form_for note do |f| %>
  <%= f.hidden_field(:notebook_id) %>
  <div class="form-group">
    <%= f.label :reference_link, :class => "control-label" %>
    <%= f.select :reference_id, Reference.all.collect { |r| [r.reference_link, r.id]}, include_blank: :true, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.collection_check_boxes :tag_ids, Tag.all, :id, :name %>
      <%= f.fields_for :tags, note.tags.build do |tags_fields| %>
        <%= tags_fields.text_field :name %>
      <% end %>
  </div>

  <div class="form-group">
      <%= f.label :name, :class => "control-label" %>
      <%= f.text_field :name, :class => "form-control" %>
  </div>

  <div class="form-group">
      <%= f.label :content, :class => "control-label" %>
      <%= f.text_area :content, :class => "form-control" %>
  </div>

  <%= f.submit "Submit", :class => "btn btn-default" %>
<% end %>
