<%= form_for note do |f| %>
  <%= notebook_select(@nested, @note) %>

  <div class="form-group">
    <%= f.label :reference_link %>
    <%= f.select :reference_id, Reference.all.collect { |r| [r.reference_link, r.id]}, include_blank: :true %>
  </div>

  <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name %>
  </div>

  <div class="form-group">
      <%= f.label :content %>
      <%= f.text_area :content %>
  </div>

  <%= f.submit %>
<% end %>
