<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h1 class="page-header"><%= @note.name %></h1>
          <h5>Notebook: <%= @note.notebook.title %>  </h5> <!-- change to link to notebook -->
      <div class="inline">
        <%= link_to 'Back', notebooks_path, :class => "btn btn-small btn-default" %>
        <%= link_to 'Edit', edit_notebook_path(@notebook, @note), :class => "btn btn-small btn-default" %>




        <h5>
          <%= @note.reference.reference_link %>
        </h5>


        <p>
          <%= @note.content %>
        </p>
      </div>

    </div>


  </div>
