<div class="navbar-default">
  <ul class="nav nav-pills">

    <% if user_signed_in? %>
      <li role="presentation" ><%= link_to 'All Notebooks', notebooks_path %></li>
      <li role="presentation"><%= link_to 'New Notebook', new_notebook_path %></li>
      <li role="presentation"><%= link_to 'New Reference', new_reference_path %></li>
      <div class="pull-right">
        <li role="presentation"><%= link_to 'Log Out', destroy_user_session_path, method: :get %></li>
      </div>
    <% else %>
      <div class="pull-right">
        <li role="presentation" ><%= link_to 'Sign Up', new_user_registration_path %></li>
        <li role="presentation"><%= link_to 'Log In', new_user_session_path %></li>
      </div>
    <% end %>
  </ul>
</div>
